.driver-d,
.driver-d * {
  box-sizing: border-box;
}
.driver-d {
  background: #ffffff;
  width: 100%;
  height: 2363px;
  position: relative;
  overflow: hidden;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 346px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 1175.19px;
  position: absolute;
  left: calc(50% - 585.9px);
  top: 2129px;
  transform-origin: 0 0;
  transform: rotate(0.191deg) scale(1, 1);
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.footer-right-text {
  color: var(--text-color, #252b42);
  text-align: left;
  font: var(--h-5, 700 16px/24px "Montserrat", sans-serif);
  position: relative;
}
.footer-right-text2 {
  color: var(--second-text-color, #737373);
  text-align: left;
  font: var(--link, 700 14px/24px "Montserrat", sans-serif);
  position: relative;
  align-self: stretch;
}
.footer-social-icons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.facebook {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.facebook-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.facebook2 {
  width: 28px;
  height: 28px;
  position: absolute;
  left: -2px;
  top: -2px;
}
.instagram {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.instagram-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.instagram-circle {
  width: 27px;
  height: 27px;
  position: absolute;
  left: -2px;
  top: -1.5px;
}
.twitter {
  flex-shrink: 0;
  width: 24px;
  height: 19.76px;
  position: relative;
  overflow: hidden;
}
.twitter-icon {
  width: 24px;
  height: 19.76px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.twitter2 {
  width: 26px;
  height: 26px;
  position: absolute;
  left: -1px;
  top: -3.12px;
}
.footer-right-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.footer-right-text3 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.bx-bx-phone {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.phone {
  width: 27px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.h-6 {
  color: var(--second-text-color, #737373);
  text-align: left;
  font: var(--h-6, 700 12px/24px "Montserrat", sans-serif);
  position: relative;
}
.place-marker {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.envelope {
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  position: relative;
}
.second-section {
  padding: 10px;
  width: 1147px;
  height: 587px;
  position: absolute;
  left: calc(50% - 573.5px);
  top: 1461px;
}
.mother-daughter {
  width: 404px;
  height: 579px;
  position: absolute;
  left: 790px;
  top: 0px;
}
.fade-image {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 11.03154867887497%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 472px;
  height: 195px;
  position: absolute;
  left: 789.5px;
  top: 384px;
}
.second-section-texts {
  display: flex;
  flex-direction: column;
  gap: 99px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: -4.5px;
  top: 31px;
}
.second-section-text-component {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 610px;
  position: relative;
}
.second-section-text-line {
  background: var(--primary-color, #96bb7c);
  flex-shrink: 0;
  width: 94px;
  height: 7px;
  position: relative;
}
.second-section-text-title {
  color: var(--text-color, #252b42);
  text-align: left;
  font: var(--h-2, 700 40px/50px "Montserrat", sans-serif);
  position: relative;
  width: 610px;
}
.second-section-text-desc {
  color: var(--second-text-color, #737373);
  text-align: left;
  font: 400 14px/20px "Montserrat", sans-serif;
  position: relative;
  width: 507px;
}
.second-section-text-component2 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 677px;
  position: relative;
}
.first-section {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 573.5px);
  top: 893px;
}
.first-section-text-component {
  display: flex;
  flex-direction: column;
  gap: 119px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.first-section-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 691px;
  position: relative;
  overflow: hidden;
}
.first-section-text-title {
  color: var(--text-color, #252b42);
  text-align: left;
  font: var(--h-2, 700 40px/50px "Montserrat", sans-serif);
  position: relative;
}
.first-section-text-sub {
  color: var(--second-text-color, #737373);
  text-align: left;
  font: var(--paragraph, 400 14px/20px "Montserrat", sans-serif);
  position: relative;
}
.first-section-cards-container {
  display: flex;
  flex-direction: row;
  gap: 86px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.first-section-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 22px 32px 22px 32px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 268px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.first-section-card-icon {
  flex-shrink: 0;
  width: 79.16px;
  height: 81.42px;
  position: static;
}
.ellipse-shape {
  background: #f6f4f3;
  border-radius: 50%;
  border-style: solid;
  border-color: #f6f4f3;
  border-width: 2px;
  width: 79.16px;
  height: 81.42px;
  position: absolute;
  left: 32px;
  top: 41.58px;
}
.children {
  width: 54px;
  height: 66px;
  position: absolute;
  left: 45px;
  top: 49px;
}
.first-section-card-description-frame {
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.first-section-card-title {
  color: var(--text-color, #252b42);
  text-align: left;
  font: var(--h-5, 700 16px/24px "Montserrat", sans-serif);
  position: relative;
}
.first-section-card-line {
  background: var(--primary-color, #96bb7c);
  flex-shrink: 0;
  width: 50px;
  height: 2px;
  position: relative;
}
.first-section-card-text {
  color: var(--second-text-color, #737373);
  text-align: left;
  font: var(--paragraph, 400 14px/20px "Montserrat", sans-serif);
  position: relative;
  width: 253px;
  height: 40px;
}
.calender {
  width: 54px;
  height: 66px;
  position: absolute;
  left: 45px;
  top: 49px;
}
.parent {
  width: 54px;
  height: 66px;
  position: absolute;
  left: 45px;
  top: 49px;
}
.header {
  background: var(--light-text-gray-2, #f6ffff);
  padding: 120px 0px 120px 0px;
  width: 100%;
  height: 777px;
  position: absolute;
  left: -1px;
  top: 0px;
  overflow: hidden;
}
.hero-banner-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  width: 1439px;
  position: absolute;
  left: 0px;
  top: 95px;
  overflow: hidden;
}
.hero-banner-text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 573px;
  position: relative;
  overflow: hidden;
}
.hero-banner-text-caption {
  color: var(--primary-color, #96bb7c);
  text-align: left;
  font: var(--h-5, 700 16px/24px "Montserrat", sans-serif);
  position: relative;
}
.hero-banner-text-main {
  color: var(--text-color, #252b42);
  text-align: left;
  font: var(--h-1, 700 58px/80px "Montserrat", sans-serif);
  position: relative;
  width: 542px;
}
.hero-banner-text-sub {
  color: var(--second-text-color, #737373);
  text-align: left;
  font: var(--h-4, 400 20px/30px "Montserrat", sans-serif);
  position: relative;
  width: 458px;
}
.hero-banner-buttons-conatiner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.hero-banner-search-button {
  background: var(--primary-color, #96bb7c);
  border-radius: 5px;
  padding: 15px 40px 15px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn-text {
  color: var(--light-text-color, #ffffff);
  text-align: center;
  font: var(--btn-text, 700 14px/22px "Montserrat", sans-serif);
  position: relative;
}
.hero-banner-learnmore {
  border-radius: 5px;
  border-style: solid;
  border-color: var(--primary-color, #96bb7c);
  border-width: 1px;
  padding: 15px 40px 15px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn-text2 {
  color: var(--primary-color, #96bb7c);
  text-align: center;
  font: var(--btn-text, 700 14px/22px "Montserrat", sans-serif);
  position: relative;
}
.hero-banner-image-container {
  flex-shrink: 0;
  width: 704px;
  height: 682px;
  position: relative;
}
.hero-banner-circle {
  border-radius: 50%;
  border-style: solid;
  border-color: #b8f0d7;
  border-width: 79.18px;
  width: 495.68px;
  height: 495.68px;
  position: absolute;
  left: 114.64px;
  top: 175.66px;
}
.hero-banner-image {
  width: 532.15px;
  height: 622.04px;
  position: absolute;
  left: calc(50% - 255.53px);
  top: 64px;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 85px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1192px;
  height: 87px;
  position: absolute;
  left: calc(50% - 596px);
  top: 15px;
}
.navbar-logo-conatiner {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 205px;
  position: relative;
}
.logo-image {
  flex-shrink: 0;
  width: 90px;
  height: 87px;
  position: relative;
}
.navbar-logo-text-container {
  padding: 10px;
  align-self: stretch;
  flex-shrink: 0;
  width: 106px;
  position: relative;
  overflow: hidden;
}
.navbar-logo-edupick {
  color: #252b42;
  text-align: left;
  font: 700 24px/32px "Montserrat", sans-serif;
  position: absolute;
  left: 1px;
  top: 28px;
}
.nav-menu-container {
  display: flex;
  flex-direction: row;
  gap: 58px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 87px;
  position: relative;
}
.nav-menu-text {
  color: var(--primary-color, #96bb7c);
  text-align: right;
  font: 700 16px/22px "Montserrat", sans-serif;
  position: relative;
  cursor: pointer;
}
.nav-auth-container {
  display: flex;
  flex-direction: row;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 224px;
  height: 87px;
  position: relative;
}
.login-text {
  color: var(--text-color, #252b42);
  text-align: right;
  font: 700 16px/22px "Montserrat", sans-serif;
  position: relative;
}
.nav-signin {
  background: var(--primary-color, #96bb7c);
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.nav-signin-text {
  color: var(--light-text-color, #ffffff);
  text-align: left;
  font: var(--btn-text, 700 14px/22px "Montserrat", sans-serif);
  position: relative;
}
a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  appearance: none;
  background: none;
}
