.overview {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    padding: 10px;
}

.selected-child {
    margin: 1rem 0;
    padding: 1rem;border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--child-card-color);
    transition: var(--tran-05);

    &:hover {
        box-shadow: 0px 0px 10px 0 var(--black-light-color);
    }
}

.child-details {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: var(--text-color);
}

.child-name {
    margin-left: 5px;
}

.change-child {
    display: flex;
    justify-content: center;
}

.change-child a {
    color: #4DA3FF;
}

.request-message-line {
    display: flex;
    justify-content: flex-start;
    margin: 0 10px;
    padding: 0 10px;
    color: var(--text-color);
    font-size: large;
}

.request-message-name {
    color: #4DA3FF;
}

.vehicle-card {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

.vehicle-image img {
    height: 4.5rem;
    width: 8rem;
    object-fit: cover;
}

.vehicle-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.connect-button a {
    border-radius: 8px;
    padding: 8px 30px;
    background-color: var(--primary-color);
    color: var(--title-icon-color);
    border: 5px solid var(--border-color);
    font-size: 16px;
    text-decoration: none;

    &:hover {
        box-shadow: 0px 0px 10px 0 var(--black-light-color);
    }
}

.subtopic {
    margin: 0 10px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.subtopic i {
    font-size: 26px;
    color: var(--delete-edit-color);

}

.subtopic .text {
    margin-left: 10px;
}


/* Pending Request Styles */

.pending-text {
    color: green;
    font-weight: 500;
    margin-right: 10px;
    font-size: 16px;
}

.verified-text {
    /* color: #4DA3FF; */
    color: var(--delete-edit-color);
    font-weight: 500;
    margin-right: 10px;
    font-size: 16px;
}

.vehicle-card-pending {
    margin: 0rem 5rem;
}

.cancel-pending {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cancel-button {
    border-radius: 8px;
    padding: 8px 30px;
    background-color: crimson;
    color: white;
    border: none;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;

    &:hover {
        box-shadow: 0px 0px 10px 0 crimson;
    }

}