.vehicle-form {
    color: var(--text-color);
}

.vehicle-form-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.vehicle-form-left {
    width: 50%;
    padding: 0px 20px;
}

.vehicle-form-right {
    width: 50%;
    padding: 0px 20px;
}

.input-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}

.input-box input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    transition: var(--tran-05);
    background-color: var(--form-input-color);
    color: var(--text-color);
}

.input-box select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    transition: var(--tran-05);
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.submit-button input {
    border-radius: 8px;
    padding: 8px 30px;
    background-color: var(--primary-color);
    color: var(--title-icon-color);
    border: 5px solid var(--border-color);
    cursor: pointer;
}

.error-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    padding: 10px;
}

.license-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#licensePlate1 {
    width: 20%;
    margin-right: 10px;
}

#licensePlate2 {
    flex: 1;
    margin-left: 10px;
}

.features {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
    margin-right: 10px;
    padding: 4px 10px;
    color: var(--text-color);
}

.feature {
    margin-left: 20px;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    background-color: var(--child-card-color);
    transition: var(--tran-05);

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0px 0px 10px 0 var(--black-light-color);
    }
}

.feature label {
    color: var(--text-color);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.feature-input {
    display: none;
}

.seats-inputs {
    display: flex;
}

.seats-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#totalSeats {
    margin-right: 20px;
    width: 90%;
}

#vacantSeats {
    width: 90%;
}

.city{
    display: flex;
    justify-content: flex-start;
}

.city input {
    margin: 0px 10px;
}

.school{
    display: flex;
    justify-content: flex-start;
}

.school input {
    margin: 0px 10px;
    width: auto;
}